.Card {
  background: hsl(20, 63%, 71%, 0.9);
  font-weight: bold;
  width: 360px;
  height: auto;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 10px 10px 20px;
  margin: 20px;
}

h2 {
  color: rgb(25, 33, 58);
  font-size: 22px;
}

.Card--alien {
  background: hsla(350, 12%, 40%, 0.9);
}

.Card-list {
  list-style-type: none;
  margin-top: 20px;
  text-align: left;
  color: rgb(25, 33, 58);
}

.image {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 4px 4px 20px;
}

.Card-button {
  background: #24325fff;
  color: hsl(55, 85%, 62%);
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 2px;
  transition-duration: 0.4s;
}

.Card-button:hover {
  background: hsl(55, 85%, 62%);
  color: #24325fff;
}
