.Card {
  display: grid;
  align-self: center;
  background: hsla(350, 50%, 50%, 0.9);
  width: 350px;
  height: auto;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 10px 10px 20px;
  margin: 20px;
}

.Card-list {
  list-style-type: none;
}

image {
  height: 200px;
  width: auto;
}

.image {
  height: 200px;
  width: auto;
}
